= render '_partials/header.html.haml'

= render '_partials/tagline.html.haml'
= render '_partials/schedule.html.haml'
= render '_partials/speakers.html.haml'
= render '_partials/venue.html.haml'
= render '_partials/sponsors.html.haml'

= render '_partials/footer.html.haml'
